/* @font-face {
    font-family: "chillax";
    src: url("/fonts/Chillax-Variable.woff2") format("woff2"),
         url("/fonts/Chillax-Variable.woff") format("woff"),
         url("/fonts/Chillax-Variable.ttf") format("truetype");
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
}

:root {
    --c-green: #2ea44f;
    --fontbase: "chillax", "sans-serif";
} */

.section-padding {
    padding-top: 140px;
    padding-bottom: 140px;
}

.container h1 {
    font-weight: 200;
}

body {
    font-family: "chillax";
}

.donate-button {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: #ff5a5f;
    color: white;
    padding: 10px 10px;
    border-radius: 0 5px 5px 0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 1000;
    cursor: pointer;
}

/* Hero section styles */
.hero img {
    margin: 1px;
    width: 100%;
}

/* Initiatives section styles */
.carousel-container {
    display: flex;
    justify-content: flex-start; /* Aligns to the left */
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
}
